@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");


/*
Color Gris principal #b4c5d8
Color Azul principal #00aeef
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  
  li a {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    
  }

  #check {
    display: none;
}

  nav{
    background-color: #00aeef;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: right;
    cursor: url("./assets/cursor.png"), auto;
  }

  

  .presupuesto {
    border-radius: 50px;
    background-color:white;
  }

  .presupuesto:hover{
    background-color:#b4c5d8;    
    transition-duration: 300ms;
  }

  .menu-btn{
    font-size: 30px;
    color: white;
    cursor: url("../assets/cursor.png"), auto;
    margin-top: .6rem;
    margin-right: 2.6rem;
    margin-bottom: .6rem;
    }

  nav>ul>li>a:hover {
    color:#ffffff;
        
  }